/*  your css code here. If applicable */
.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 16.66%; 
    background-color: #D7E8D4;
    padding: 1em;
}

.main-content {
    width: 83.33%; 
    display: flex;
    flex-direction: column;
}

.header, .footer {
    background-color: yellowgreen;
    height: 20vh;
    padding: 1em;
}

.content {
    flex-grow: 1;
    display: flex;
    height: 60vh;
}

.article {
    flex: 3; 
    min-height: 60vh;
    padding: 1em;
    background-color: #f5f5f5;
}

.aside {
    flex: 1; 
    padding: 1em;
    background-color: #eee;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .sidebar {
        width: 100%;
    }

    .main-content {
        width: 100%;
    }

    .content {
        flex-direction: column;
    }

    .article, .aside {
        width: 100%;
    }
}
